@model IEnumerable<WebApplication3.Models.Expense>

@{
    ViewData["Title"] = "ExpenseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Expense List</h5>

            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead class="table-dark">
                        <tr>
                            
                            <th>@Html.DisplayNameFor(model => model.Type)</th>
                            <th>@Html.DisplayNameFor(model => model.Amount)</th>
                            <th>@Html.DisplayNameFor(model => model.Paymentmode)</th>
                            <th>@Html.DisplayNameFor(model => model.Edate)</th>
                            <th class="hidden-column">@Html.DisplayNameFor(model => model.Uid)</th>
                        </tr>
                    </thead>

                   
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                
                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                <td>₹@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Paymentmode)</td>
                                <td>@item.Edate.ToString("dd-MM-yyyy")</td>
                                <td class="hidden-column">@Html.DisplayFor(modelItem => item.Uid)</td>
                            </tr>
                            }
                        </tbody>
                    
                  
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /* Keep old table design */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .table thead th {
        text-transform: uppercase;
        text-align: left;
    }

    .table td,
    .table th {
        text-align: left;
        vertical-align: middle;
    }

    .hidden-column {
        display: none;
    }
    

    .container h1 {
        color: #333;
    }
</style>
<script>
     $(document).ready(function () {
         $('#all-student').DataTable({
             "columnDefs": [
                 { "targets": [4], "visible": false, "searchable": false } // Hide 5th column (Uid)
             ]
         });
     });
</script>
